.container  {
    width: 100%;
}

section {
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: 1px dashed #444;
}

.block {
    width: 200px;
    height: 200px;
    margin: 25px;
    border: 2px solid #333;
}
.orange{
    background: orange;
}
.red{
    background: red;
}

 